main{
	background-color: yellow;
	position:relative;
	top:100px;
	left:100px;
	width:500px;
	height:500px;
	border-radius: 50px;
	border: red;
}
header{
	background-color: red;
	position:absolute;
	top:7em;
	left:7em;
	width:6em;
	height:6em;
	border-radius:100em;
}
section{
	background-color: red;
	position:absolute;
	top:7em;
	right:7em;
	width:6em;
	height:6em;
	border-radius:100em;
}
aside{
	background-color: red;
	position:absolute;
	bottom:5em;
	left:7em;
	right:7em;
	width:18em;
	height:6em;
}